[2017-02-14 22:03] marshallpierce opened #10 "Use an enum rather than strings for errors"
This will make it nicer for testing, and more comprehensible for users that may want to handle individual failure cases.

[2017-02-14 22:05] marshallpierce opened #11 "index_for uses isize, and may panic"
It seems like we should be able to guarantee that those indexes are positive, which should hopefully also make us confident that it won't panic.

[2017-02-15 18:00] marshallpierce opened #13 "Ensure usage from correct logic will never panic: use `Result` where appropriate, otherwise document correct usage"
This will make it possible to guarantee panic-free codepaths.

Optionally, we might expose ways to record, read, that can panic but do not require the `Result` syntactic overhead.

[2017-02-15 18:08] jonhoo commented on #13
Implementing `AddAssign` already sort-of gives us the latter, but having named methods for this as well would probably also be a good addition.

[2017-02-17 21:02] marshallpierce commented on #13
On further consideration, I'm not sure that a blanket "use Result everywhere" policy is actually beneficial. The potential overflow in `value_for`, for instance, isn't necessarily useful to expose with a `Result` since you will only encounter an `Err` if your logic is wrong and you iterate too far. As an example, what about an iterator implementation that is correctly implemented? It will have `Re

[2017-02-17 21:16] marshallpierce opened #14 "Better fix for enormous unitMagnitude overflowing in bucket calculations"
Port https://github.com/HdrHistogram/HdrHistogram/pull/118.

[2017-02-17 22:18] jonhoo commented on #13
Yeah, you're right, that seems like a reasonable plan.

[2017-02-18 17:39] jonhoo commented on #14
I'm guessing we can deal with this too now that that PR got merged.

[2017-02-18 17:46] marshallpierce commented on #14
Yup, in progress.

[2017-02-18 18:28] jonhoo commented on #11
This is fixed by #12, right?

[2017-02-18 18:38] marshallpierce commented on #11
Probably. I want to walk through that logic one more time before I call it good.

[2017-02-19 00:39] marshallpierce commented on #14
Ignore #118, port the new hotness instead: https://github.com/HdrHistogram/HdrHistogram/pull/120

[2017-02-19 01:51] marshallpierce commented on #11
With the tighter guarantees about unit magnitude + sub bucket count magnitude, I'm now comfortable with index_for.

I don't see why it would panic with out-of-range values. Small values will get mapped to bucket 0 and sub bucket 0. Large values (beyond what should be supported) will still get mapped to an index; the index just won't be one that exists in the counts vec.

[2017-02-19 01:51] #11 closed

[2017-02-19 02:14] marshallpierce opened #17 "Express auto resize functionality as a type?"
While working on #10 I'm ending up with error options that can only occur if resize is disabled. This is unfortunate as it means that someone using resize will now have to handle error variants that won't ever occur at runtime.

The way that auto resize interacts with the contracts of the methods is a little regrettable to begin with. I wonder if there's a way we could reflect this difference in t

[2017-02-19 06:30] jonhoo commented on #17
Mmm, I like that idea. I'm not sure we could actually use an `enum` for this, since Rust doesn't currently consider enum variants separate types (https://github.com/rust-lang/rfcs/pull/1450), but we could probably get away with using two unit `struct`s, and `impl` the relevant methods only for one or the other.

My biggest concern would be that the place where we need separate `impl`s would be for

[2017-02-20 17:32] marshallpierce opened #19 "Criterion data in repo"
Is it right that `.criterion` is checked in? It seems like it's using that as a baseline to compare against or something, which isn't applicable on my hardware. Also, presumably if you were benchmarking against a baseline, wouldn't you want to set the baseline on a particular revision, then apply the changes under consideration?

[2017-02-20 19:17] jonhoo commented on #19
Yeah, Criterion is *supposed* to do regression testing whenever you run it, and it uses `.criterion` for this. And they advice that you should check it in. However, given how broken it currently is, plus the fact that it doesn't take into account running on different machines, I think we can just delete it.

[2017-02-20 19:32] marshallpierce commented on #14
Landed in #16

[2017-02-20 19:32] #14 closed

[2017-02-20 21:32] jonhoo commented on #10
Fixed in 62575317531b14d01e20f028b98de4c687e3d1df following #22.

[2017-02-20 21:32] #10 closed

[2017-02-21 00:47] jonhoo commented on #19
Closed by #23.

[2017-02-21 00:47] #19 closed

[2017-03-09 18:02] marshallpierce opened #29 "Restrict counts to only u8-u64"
We don't seem to be gaining much by allowing, say, `f64`, and it leads to some questionable things like:

[code]

Meaningfully handling the case where that *doesn't* work seems iffy.

[2017-03-09 18:03] marshallpierce opened #30 "Port Criterion benchmarks to use built-in benchmarking"
It would be nice to have only one benchmark tool in use, and Criterion doesn't seem to have much momentum.

[2017-03-10 21:24] marshallpierce commented on #17
Another wrinkle to think about: auto-resize is not serialized (and therefore not deserialized), which makes me lean a little more towards making auto resize a wrapper or something like that so that a deserialized histogram really could be 100% identical to its original version.

[2017-03-11 01:03] marshallpierce opened #31 "V2 + Deflate [de]serialization"
Just what it says on the tin: the logical next step once basic V2 serialization is working.

[2017-03-11 01:12] marshallpierce opened #32 "Audit `usize` usage for 16-bit safety"
Inspired by the looming feasibility of Rust on AVR, in the serialization code I've started to use checked pointer math to make sure we don't overflow `usize`. There are other places where I'm pretty sure we assume that `usize` is at least 32 bits, so we should find those and add appropriate checking.

[2017-03-13 16:42] marshallpierce commented on #29
This would also prevent people from using `i*` types, which are not much use since negative counts aren't used (and are semantically questionable, even if they were supported).

[2017-03-15 04:35] marshallpierce opened #35 "Serialization -> deserialization: total count ends up wrong"
Not sure what the cause is yet, but further testing with random values and random counts is failing to deserialize into exactly the same total count as what was serialized.

[2017-03-15 15:11] marshallpierce commented on #35
It looks like this issue is correct behavior, in some cases at least: if an individual value's count has saturated, the total count might not have (especially with smaller value count types than u64). When deserialized, the total count is calculated by summing the value counts, so it would end up smaller than the original total count.

I'll close this once (if) I'm convinced it also addresses the

[2017-03-15 16:31] marshallpierce commented on #35
u64 tests had issues with accumulated counts exceeding `i64::max_value()` and therefore not being serializable, so this is resolved.

[2017-03-15 16:31] #35 closed

[2017-03-15 16:58] marshallpierce opened #36 "Split `alter_n` into separate add and subtract cases"
The logic has ended up only sharing a little bit of common code between `+` and `-`, so it's probably best to split them.

See https://github.com/jonhoo/hdrsample/pull/34/files#diff-b4aea3e418ccdb71239b96952d9cddb6R785 for more context.

[2017-03-15 16:59] marshallpierce commented on #13
Potential panic? https://github.com/jonhoo/hdrsample/pull/34/files#diff-b4aea3e418ccdb71239b96952d9cddb6R1559

[2017-03-15 17:01] marshallpierce opened #37 "More flexible subtraction logic"
There are two reasonable things to do when subtracting a count that exceeds the minuend count: saturate at 0, or error. It would be nice to let the user do both.

See https://github.com/jonhoo/hdrsample/pull/34/files#diff-b4aea3e418ccdb71239b96952d9cddb6R558 for more context.

[2017-03-15 17:03] marshallpierce opened #38 "Address remaining logic that can overflow"
Several TODOs were added in #34 pointing out places that can overflow. There may be more; that was simply what I found by searching for " + ".

[2017-03-15 18:29] jonhoo commented on #37
See especially https://github.com/jonhoo/hdrsample/pull/34#discussion_r106214179

[2017-03-16 19:22] marshallpierce opened #41 "Allow customizing handling of out-of-range counts when serializing"
We allow u64 counts, but the serialization format only allows `i64::max_value()` as the largest count. So, you can end up with an un-serializable histogram.

It would be nice if the user could choose what to do in such a situation. Right now we always error, which means I needed to do things like https://github.com/jonhoo/hdrsample/pull/40/files#diff-c761d465047faa0efb455f492b2f1e07R528 when testi

[2017-03-16 19:23] marshallpierce commented on #41
See  also https://github.com/jonhoo/hdrsample/pull/40/files#diff-9f04f5afe722ac18d9cc630373624c02R127

[2017-03-16 19:26] jonhoo commented on #41
One alternative here is that we make `Counter` an `enum`, where the variants are `u8`, `u16`, `u32`, and `u63`...

[2017-03-18 23:38] marshallpierce commented on #32
In case it ever comes in handy, I experimented with deserializing the payload in batches: https://github.com/marshallpierce/hdrsample/commit/fc52e75748a62088a300c8d5d595ff7c868bb1fe

This avoids being limited by usize for the overall payload length (which can be up to 9x the size of the counts array if the counts were all large u64 values). I tried it hoping for a speed win due to better cache loc

[2017-04-06 14:57] marshallpierce opened #44 "Consider allowing serialization into a Vec<u8> directly"
Currently, serialization output is directed to a `Write` in both the V2 and V2 + DEFLATE serializers. This is a very flexible abstraction, but the serialization formats dictate a length prefix, which means that output must be buffered before writing to the writer so that we can drop in the final length in the appropriate spot.

This buffering is especially sad in the DEFLATE case, since we already

[2017-04-06 18:04] #30 closed

[2017-04-11 23:23] marshallpierce opened #47 "Iteration stops too early when total_count has saturated"
If `total_count` has reached `u64::max_value()`, iteration should continue even if the total count seen so far during iteration has reached that value.

I added some tests around that [here](https://github.com/marshallpierce/hdrsample/tree/iter-recorded-total-count).

[2017-04-12 04:36] marshallpierce commented on #31
Fixed by #43.

[2017-04-12 04:36] #31 closed

[2017-04-12 04:46] #29 closed

[2017-04-12 21:14] marshallpierce commented on #36
Fixed by #48

[2017-04-12 21:14] #36 closed

[2017-04-13 18:21] marshallpierce opened #51 "Add Recorder support"
[Recorder](https://hdrhistogram.github.io/HdrHistogram/JavaDoc/org/HdrHistogram/Recorder.html) is really useful in real-world situations: one (or more) threads recording, with another thread occasionally inspecting the resulting histograms.

[synchronoise](https://github.com/QuietMisdreavus/synchronoise) has an implementation of [WriterReaderPhaser](https://stuff-gil-says.blogspot.com/2014/11/writ

[2017-04-21 14:45] #32 closed

[2017-08-30 21:29] jonhoo commented on #13
Closing now that #55 has been merged. #38 is still a concern, but that's tracked, well, in #38.

[2017-08-30 21:29] #13 closed

[2017-09-25 00:11] marshallpierce opened #59 "Add histogram log format support"
Generally useful, but also when we develop a corpus of sample serialized histograms with pre-calculated metadata to test an implementation against, it would be good to do the same for the log format -- which means we need the log format first.

[2017-09-25 00:14] marshallpierce opened #60 "Move to HdrHistogram org"
It's time! https://gitter.im/HdrHistogram/HdrHistogram?at=59c7d543c101bc4e3a01fb74

The naming convention isn't 100% consistent but it seems like `HdrHistogram_Rust` would be going with the flow.

[2017-09-25 01:32] jonhoo commented on #60
I believe I would need to be added to the HdrHistogram org in order to transfer the repo. We'd also need to change `Cargo.toml` and `.travis.yml` to point to the new repository location.

[2017-10-08 07:48] algermissen opened #62 "Percentile iterator example for .hgrm output (for plotting)"
Hi,

is there an example, how to use the percentile iterator to create a text output that can be plotted like on the hdrhistogram.org Web site's example?

Jan

[2017-10-08 11:51] marshallpierce commented on #62
There is not currently, but it's pretty straightforward if you want to take a try at it. (If not, I'll get to it when I can.)

The Java tool that generates them is here: https://github.com/HdrHistogram/HdrHistogram/blob/master/src/main/java/org/HdrHistogram/HistogramLogProcessor.java

This approach is fine for tinkering or one-off analysis, but if you're looking into building a robust histogram vi

[2017-10-08 13:37] algermissen commented on #62
Thanks, this helps a lot - did not know about the JS demos.

I am using

     let mut buf = File::create("foo2.hist").expect("ok");
     V2Serializer::new().serialize(&hist, &mut buf).unwrap();
     buf.sync_all().expect("OK");

and pipe the file through base64 on unix. This does not work as the data seems to be useless to the JS demos.

Any idea off the top of your head what I am doing wrong?

Th

[2017-10-08 14:13] algermissen commented on #62
I tried with V2DeflateSerializer, too, with no luck. I saw the JS uses an Int32 Historgram constructir when loading from base64 - but changing my own Histogram from u64 to u32 also did not do the trick.

So, in general the question remains: - how do I serialize a histogram with hdrsample into "base64 zlib encoded" form?

[2017-10-08 22:32] marshallpierce commented on #62
Perhaps @alexvictoor might be able to shed some light on what the JS port expects?

Anyway, there are a few possibilities that occur to me:

- It actually wants a "histogram log", which is different (see e.g. https://github.com/HdrHistogram/HdrHistogram/blob/master/src/main/java/org/HdrHistogram/HistogramLogReader.java). I'm slowly working on implementing log support (#59).
- The JS (or Rust) vers

[2017-10-09 07:57] alexvictoor commented on #62
@algermissen int32 is the default configuration in the JS version. You can switch to Float64 that gives you 53 bits for integers. Unfortunately no Int64 in JavaScript yet.
@marshallpierce I have implemented logV2 and text parser. I do not have implemented the parsing of older log formats but if you really need them, this will not require a big effort on my side.
If you have some sample data that r

[2017-10-09 12:39] marshallpierce commented on #62
Thanks @alexvictoor for the clarification. Sounds like the issue is not a matter of older logfile support but the fact that the rust implementation currently only serializes a single histogram into its binary form (which would be used in a log). I should have log file support implemented in the next couple of weeks. @algermissen in the meantime, if you're in a hurry, I would take the base64'd bina

[2017-10-09 12:44] alexvictoor commented on #62
Thanks @marshallpierce I get it now!
@algermissen have you tried to copy/paste your base64 binary string into this demo form?
https://hdrhistogram.github.io/HdrHistogramJSDemo/decoding-demo.html

Let me know if the output seems correct.

[2017-10-09 12:47] algermissen commented on #62
@alexvictoor Yes, I tried that (and this is basically all I am trying - single histogram, no logs etc). The base64 does not work - and I assume this is because it would need to be a Rust i32 to match the binary JS I32?

[2017-10-09 12:49] algermissen commented on #62
This is my Rust code to create the file:

let mut buf = File::create("foo2.hist").expect("ok io");

                //V2Serializer::new().serialize(&hist, &mut buf).expect("ok");
                let nbytes = V2DeflateSerializer::new()
                    .serialize(&hist, &mut buf)
                    .expect("ok");
                buf.sync_all().expect("OK");

And I pipe that through base64 on ma

[2017-10-09 13:17] alexvictoor commented on #62
@algermissen could you share your base64 binary?
It would help a lot. It could be interesting to see if we are able to deserialize it using the original java version

[2017-10-09 15:41] algermissen commented on #62
I implemented Counter for i32 and exportet and then send through base64:

 HISTFAAAAFstikEKQFAURZ+Dfj8DSTKgDIxkZGJqBfZkYAeWYjF2IUtw870699W5t92P0sxWC8f/oy/ne1ueIC7gjIjJGXCkwlFTCUdGgeGJEy/jZQotGTXzKgY6pRMN9Ey8

[2017-10-09 15:46] algermissen commented on #62
[foo2.hist.zip](https://github.com/jonhoo/hdrsample/files/1369087/foo2.hist.zip)
This is the binary - had to zip because of github. It should be in V2+DEFLATE format

[2017-10-09 16:01] alexvictoor commented on #62
@algermissen thanks a lot. I get back to you asap

[2017-10-09 17:02] marshallpierce commented on #62
Let me know if there's anything I can do to help. I'll try to pounce quickly on any encoding bugs that may be revealed as part of this!

[2017-10-09 20:36] alexvictoor commented on #62
@marshallpierce I have just tried with the java version. I get a java.util.zip.DataFormatException with an "incorrect header check" message when trying to decode the base64 string send by @algermissen

I do not know anything about rust but I guess you need to change the compression algorithm, maybe switch from DeflateEncoder to ZlibEncoder in v2_deflate_serializer.rs

[2017-10-09 20:44] marshallpierce commented on #62
Thanks for investigating. I'll take a look!

[2017-10-10 02:38] marshallpierce commented on #62
@alexvictoor you were right -- I must not have tested the compressed flavor for interop with java. It does want the zlib header, not just the raw deflate. I was led astray by the JDK's name choice (`Deflater`). Oh well; I'd better get to work on that test data repo to flush out any other interop issues...

[2017-10-10 06:42] algermissen commented on #62
Just tested[1] on that branch - works for me - great!

[1] https://github.com/jonhoo/hdrsample/pull/63#issuecomment-335375094

[2017-10-10 12:15] marshallpierce opened #64 "Pure rust compression"
flate2 is fast, but it would be nice to have a default pure rust compression library so we wouldn't need to have the `serialization` feature stuff.

Presumably this would go along with allowing the user to specify which compression option to use, perhaps via generifying on the compressor.

[2017-10-10 16:06] jonhoo commented on #64
Can't we just use https://github.com/sile/libflate ?

[2017-10-10 16:11] marshallpierce commented on #64
Yep, almost certainly, though flate2 is faster by a fair bit. Just a simple matter of programming. :)

[2017-10-10 17:11] #62 closed

[2017-10-10 17:13] jonhoo commented on #62
Fixed in 5.1.0.

[2017-10-11 18:49] soro commented on #51
I'm currently working on this. It requires at least one implementation of a concurrent histogram and implementing one without a lot of duplication requires a decent amount of refactoring to extract the methods that compute new settings for the histogram.
I've implemented a WriterReaderPhaser and started the refactoring process.
Is anyone else working on this? I'm not going to get too much time to

[2017-10-11 18:51] marshallpierce commented on #51
Nobody's actively working on this to my knowledge, but I'm glad you're making some headway on it. Recorders are very useful!

[2017-10-13 10:41] algermissen opened #66 "Strange behaviour of percentile iterator"
I am trying to create hgrm text output. For this I am using this function: https://gist.github.com/algermissen/9f86fe6051a5e4f89ef92d8f5cfd9637 which aims to be a port of https://github.com/HdrHistogram/HdrHistogram_py/blob/5b9b94a1827a88c4782100dff52dfc7e2578ee87/hdrh/histogram.py#L576

The histogram is created in Rust code with `let hist = Histogram::<u32>::new_with_bounds(1, 60 * 60 * 1000, 2)`

[2017-10-13 12:09] marshallpierce commented on #66
I'll take a look. In the meantime, note that we recently changed some floating-point subtleties of how percentiles are calculated to what I think is the most mathematically precise (and floating-point stable) way of doing it: https://github.com/jonhoo/hdrsample/pull/58/files. The key change is in the [`value_at_quantile` function in `lib.rs`](https://github.com/jonhoo/hdrsample/blob/master/src/lib

[2017-10-13 14:17] marshallpierce commented on #66
I've added a quantile-iteration example based on your gist to the `print-quantiles` branch: https://github.com/jonhoo/hdrsample/compare/print-quantiles?expand=1.

I don't think the use of the histogram's significant figures to format the value is appropriate, though the Java impl does it (and the Python one does as well to mirror the Java one, presumably). Some precision was lost as values/counts

[2017-10-13 15:09] jonhoo commented on #66
What is `jot` above? Is `seq` not what you want?

[2017-10-13 15:14] marshallpierce commented on #66
`jot` is the same sort of thing as `seq`. IIRC, `seq` is the GNU not-invented-here clone of BSD's `jot`, or something like that.

[2017-10-13 15:19] marshallpierce commented on #66
I think that the `more` implementation for the quantile iterator is behaving poorly with the new quantile calculations. I suspect that that "go one more step" was to make the old quantile rounding show 100%, and now it's going past 100%. Adding some hopefully self-explanatory printlns shows that forcing the iterator to go one extra step heads into mathematical nonsense and a duplicate final line:

[2017-10-18 20:35] marshallpierce commented on #66
I'm assuming that #67 resolved this; feel free to re-open if that's not the case.

[2017-10-18 20:35] #66 closed

[2017-10-24 15:43] marshallpierce opened #69 "Apply rustfmt everywhere"
The default rustfmt config is maybe a little "fluffy" for my taste in its application of newlines but I really don't care that much. Maybe not even enough to make a `rustfmt.toml`. ;)

[2017-10-24 15:55] #47 closed

[2017-10-24 16:03] #69 closed

[2017-11-06 20:26] marshallpierce commented on #59
Fixed in #70.

[2017-11-06 20:26] #59 closed

[2017-12-20 19:02] jonhoo opened #72 "Add method for clamped recording"
In some benchmarking scenarios, I am running into extreme outliers, often due to a bug in the system or due to hitting a scaling wall. When these happen, my benchmark binary crashes, since I record using something like:
[code]
Operations generally take ~10µs, but the outliers can easily grow to tens of *seconds*. So even with liberal bounds, the record will fail. When I hit these outliers, I don't

[2017-12-21 02:57] jonhoo opened #73 "Support deserializing into existing histogram"
The current [deserialization example](https://docs.rs/hdrsample/6.0.0/hdrsample/serialization/index.html#examples) is a little sad, in that it needs to allocate a new histogram for each of the intermediate deserialized histograms. It would be awesome if there was also a way to deserialize directly into an existing histogram (essentially deserialize + add without an intermediate collection). I don'

[2017-12-21 03:06] marshallpierce commented on #73
I think it's probably doable.

[2017-12-21 03:07] marshallpierce commented on #72
That makes a lot of sense. My holiday OSS todo is already growing but I'll see if I can explore this a bit and come up with a strawman. :)

[2017-12-21 03:08] marshallpierce commented on #72
Perhaps we should use `saturating` to echo `saturating_add()`? (We already use saturated counts under the hood, so maybe that's confusing... or maybe that's enough of a buried implementation detail that we could re-use the terminology.)

[2017-12-21 03:14] jonhoo commented on #72
No, I think `saturating_add` is a good name for it. This one I'll probably have time to code up, especially because I want it in my current project :p Just wanted your input for whether this is a sensible thing to do.

[2017-12-21 03:18] marshallpierce commented on #72
Yeah, I think it's reasonable. I don't want to force consumers into not-really-error-handling for a common case, and I definitely want to encourage not consuming memory needlessly if you really only care about 1, 2, 3, disastrous for your buckets.

[2017-12-22 03:48] marshallpierce opened #75 "Clarify tracking of highest and lowest trackable values"
See https://github.com/jonhoo/hdrsample/pull/74#discussion_r158192909 for more context.

We save in fields (and write when serializing) the requested limits, not the actual limits that result from the underlying encoding (which will encompass at least as much as what the user requested, and maybe more). Perhaps we should expose the *actual* limits of what a particular histogram can do, rather than

[2017-12-22 04:10] marshallpierce commented on #75
In particular for `actual_low()`, note that we don't want the value for index 0. That index would represent every value in `[0, 1 << unit_magnitude)`, which isn't very useful since it doesn't obey the precision guarantees of the rest of the data structure. Instead, we want the value of index 1, which should be `1 << unit_magnitude`.

[2017-12-23 17:58] #72 closed

[2017-12-23 18:01] jonhoo commented on #75
Are `configured_low` and `configured_high` even necessary?

[2017-12-23 20:44] marshallpierce commented on #75
Nope, they aren't, but we have to keep track of those numbers for serialization anyway. We don't need to ship them in v1, so to speak, but we should probably leave room for them name-wise in case it turns out that something needs them. The use cases I could imagine are things like generic display tools for histograms that might want to list all the metadata or things like that.

[2017-12-24 10:17] jonhoo commented on #75
Hmm.. I'm partial to exposing the actual low and high as `low` and `high`, and then *maybe* exposing the configured values through a more verbose method.

[2017-12-24 14:09] marshallpierce commented on #75
I have some reservations about that nomenclature.

- We've already used those names for different concepts.
- It's not very clear when reading `foo.low()` exactly what that means. A user who hasn't read the API docs (of the current version!) may be forgiven for thinking that the number returned is the min value recorded thus far, or the configured low.

I don't think those are deal breakers, so if

[2017-12-25 10:19] jonhoo commented on #75
Well, we already have `low`, `min`, `max`, and `high`. I'm proposing that `low` and `high` be changed to return a more reasonable value than they currently do. One alternative would be to deprecate `low` and `high`, and instead introduce a `range` method which returns `(actual_low, actual_high`) + a `configured_range` which returns the configured low/high?

[2017-12-26 20:50] marshallpierce commented on #75
Hm, I do kinda like returning something more structured -- what about perhaps even taking it one level further and exposing a struct that has all that sort of stuff in it (min, max, unit magnitude, etc)? That would help reduce the rather imposing number of methods on `Histogram` if we could funnel all that stuff through a helper type.

[2017-12-26 20:59] giltene commented on #60
Sorry for the huge lag. I hadn’t visited glitter in a while. Will try to be more on top of it in the future.

[2017-12-27 10:02] jonhoo commented on #75
Yeah, that's not a bad idea. Something like `Histogram::statistics() -> HistogramStatistics`. I guess we can bikeshed the name a little. I also like `metrics` and `measure`. Another question is whether or not we want to include measurements of the data (like max and min), and if so, where do we draw the line? Do we also want to start measuring (and report) the average? Number of samples?

[2017-12-27 10:03] jonhoo commented on #60
@giltene no worries at all!

[2017-12-27 10:10] jonhoo commented on #60
One thing we should determine before we do the move is how we name the repository. I feel a little weird having the crate called hdrsample, but the repository HdrHistogramRust. Unfortunately, there is already a Rust crate called [`hdrhistogram`](https://crates.io/crates/hdrhistogram) (by @jsgf); it is pretty old, and uses FFI to expose a Rust API on top of the C implementation. Ideally we'd take o

[2017-12-27 15:29] giltene commented on #60
Yeah, I’m surprised at Rust’s apparent choice around naming conventions for namespaces. This is a classic example where conflicts on the “obvious” naming if a package in a global and flat namespace is a really bad idea. I would imagine that  wrapping C implementations first and later implementing a set of useful functionslity in pure Rust with more idiomatic forethought is a commonly observed patt

[2017-12-27 15:45] giltene commented on #60
BTW, this is why I went through the (not so high) effort of registering the hdrhistogram.org domain name. To me, namespaces that use internet domain names as paths make the most sense, because they allow one to punt the “ownership” of the namespace to “the real world” and let others manage and police it. If non-prototype library publishers then start (in the first place) with an organization or pr

[2017-12-27 16:33] jonhoo commented on #60
I think the intention in those cases is to transition the crate itself with a non-backwards-compatible major version number bump, which is also likely what we'll do with the current `hdrhistogram` crate. Rust's (or rather, Cargo's) semantic versioning means that no existing code will break, since existing version will remain live, and code won't be moved automatically to incompatible versions.

In

[2017-12-29 15:28] marshallpierce commented on #75
I think maybe we could divide the fields in `Histogram` up as follows:

- Implementation details like `leading_zero_count_base`: semantically derived from other fields, but useful optimizations for fast path calculations.
- Stuff that's dependent on the values stored, like `max_value` and `total_count`.
- Stuff that's dependent only on initial config and not in the first group, like `highest_track

[2018-01-11 15:44] jonhoo commented on #60
I didn't get an answer to my e-mail, but I tried filing an issue over at https://github.com/jsgf/rust-hdrhistogram/issues/1 since @jsgf has been active on GitHub recently.

[2018-02-10 02:04] jonathanstrong opened #77 "No way to append to an interval log?"
Hey, great work on this library - enjoying working in it. I was wondering, was it intentional to design the api such that you can't append to interval logs? I had assumed that's what I'd be doing but realized eventually that would not work. Even if there was a stand-alone function or impl to serialize one `Histogram` into a Writer in the interval format, I think that would allow a lot of flexibili

[2018-02-10 02:07] marshallpierce commented on #77
Glad you're enjoying it. :)

It's not something I specifically wanted to exclude, but usually interval logs are meant to record one particular run. Can you provide some more detail on what you're trying to do? Maybe there's a clever way to do it with the existing API, or maybe we need to rethink it. Are you opening and closing the file each time you write a histogram inside one long-running proces

[2018-02-10 02:39] marshallpierce commented on #77
BTW, it looks like if you simply don't configure any of the extra goodies in `IntervalLogWriterBuilder`, it won't write any header data, so that should do what you want. Prepare an `io::Write` that's already been seeked to the end of the existing file, and append away.

[2018-02-10 02:40] jonathanstrong commented on #77
My original plan was to keep one log file per day, but now I'm going to do one per run. I would have been opening and closing each time, partly because I'd like to read from the file while it's still being written to. I don't know if that will work or not if it's continually "open" inside the writer.

[2018-02-10 02:40] jonathanstrong commented on #77
Oh, interesting. Do I need to insert a blank line in between the last previous record and the first new one?

[2018-02-10 02:55] marshallpierce commented on #77
It shouldn't need a blank line, and each line should already have its trailing `\n`. Try running the result through the parser to be sure whatever you end up with is parseable. :)

If you keep the `IntervalLogWriter` alive, the file will remain open. One conceivable change would be to add an `into_write()` or something like that which would consume `self` and give you back the `Write`. You could t

[2018-02-10 03:00] jonathanstrong commented on #77
A kind of hackey solution would also be to use scopes. Create the writer at the start with the metadata I want, let that go out of scope. Flush the writer I had provided the `&mut` to. Then each write of a `Histogram`, create a new writer, let it fall out of scope, and flush again.

[2018-02-15 00:14] #60 closed

[2018-03-06 20:39] soro commented on #51
So because I wanted to do quite a few things differently and experiment a bit, I basically wrote my own version from scratch, which you can find at https://github.com/soro/rusty-hdrhistogram. It's not fully feature complete yet, but a recorder is implemented. I haven't really had much time to work on this in the last few months and development has basically stalled since mid December, but I plan t

[2018-03-06 20:40] jonhoo commented on #51
Out of curiosity, why did you decide to roll your own rather than change `HdrHistogram_rust`?

[2018-03-06 20:45] soro commented on #51
I basically wrote quite different versions of large parts of the code base and there wasn't always a particularly good reason to replace what was there or it would have changed the interface somewhat. I also wanted to stick to names that were closer to the Java version etc.

[2018-03-06 20:47] jonhoo commented on #51
I guess I'm asking why you had to write very different versions of large parts of the code? Unless I'm mistaken, adding both concurrency and recorder support should only require fairly minor changes? Having Java-compatible names could be achieved with a thin wrapper struct that just forwards methods with different names.

I'm trying to get a sense for whether there was something fundamental that m

[2018-03-06 20:51] marshallpierce commented on #77
I'm guessing this is working now; re-open if not.

[2018-03-06 20:51] #77 closed

[2018-05-14 15:51] marshallpierce opened #80 "u128 support"
Should we move things like the total number of counts to u128? That may have a detrimental affect on performance, especially on lesser hardware; I haven't benchmarked it yet to see.

[2018-05-14 16:17] jonhoo commented on #80
Hmm.. Maybe as a feature? Do we expect `u64` to ever not be enough for counts though?

[2019-04-04 14:23] mexus opened #81 "`fmt::Display` trait for errors"
Hi and thanks for a great library!

As the topic states, could it be possible to implement `Display` or even `Error` trait(s) for the crate's error types? I believe it will improve user experience and generally make it easier to incorporate those errors into the end-user's error type system :)

Thanks!

[2019-04-04 16:23] jonhoo commented on #81
Ah, yes, that seems like a great idea! /cc @marshallpierce

[2019-04-04 17:37] marshallpierce commented on #81
Absolutely. It was an oversight to not do so originally.

[2019-04-04 18:22] jonhoo commented on #81
@mexus I don't know about @marshallpierce, but I'm currently pretty deep in work due to an upcoming paper deadline, but I'd be happy to take a look at a PR if you have the time to write something up :)

[2019-04-05 03:46] marshallpierce commented on #81
I foolishly decided to start teaching at the local university on top of a full time job, so I have negative free time until the end of the semester, so if you want it done before May at the earliest, submitting a PR would be a help. :)

[2019-04-05 08:51] mexus commented on #81
Okay I've got the point, will send a PR within a couple of days :)

Good luck with your quests, guys! Seems like you're having a lot of fun ;)

[2019-06-17 20:36] jonhoo commented on #51
@marshallpierce I think it'd be really cool to use HdrHistogram as a metrics recording backend for [`metrics-rs`](https://github.com/metrics-rs/metrics), though that will definitely need support for this. I don't know how your spare time reserves are these days, but are you still interested in digging into this?

[2019-06-17 21:56] marshallpierce commented on #51
Super interested, but super overstretched already. :cry:

[2019-06-17 23:53] jonhoo commented on #51
I'll see if I can somehow dig up some time to do it. Or maybe I can try to convince one of the metrics-rs people to do it :eyes: Oooh, or maybe this would be a good live-stream topic..

[2019-06-18 02:26] marshallpierce commented on #51
also note that https://docs.rs/synchronoise/1.0.0/synchronoise/ already has WriterReaderPhaser

[2019-06-18 12:42] jonhoo commented on #51
@marshallpierce I think that's only one piece of the solution though, as we still need to support concurrently updating the histogram if I understand correctly.

Another design would be one in which each thread records to a thread-local histogram, and when a reader signals that it wants to read, it locks them all, merges the histograms, and then continues.

[2019-06-18 13:18] marshallpierce commented on #51
If we lock, that would mean measurements themselves (i.e. storing to a histogram, or in this case a recorder) could be a significant source of pause times. See http://stuff-gil-says.blogspot.com/2014/11/writerreaderphaser-story-about-new.html for more on the phaser design. It's definitely not the whole answer but I think a locking-based approach and the corresponding timing unpredictability would

[2019-06-18 14:53] jonhoo commented on #51
Ah, no, I'm not proposing that the readers take locks. Instead, they would get notified when the exclusive reader (which _would_ need a lock) wants to get an up-to-date histogram. At that point, they would collectively merge their histograms on their next write. You're right that that would still result in occasional pauses for the readers, but I think that's the case for the WriterReaderPhaser th

[2019-06-18 15:42] marshallpierce commented on #51
Hmm... I'm not following. How would the reader get a consistent snapshot of the histogram if the writer thread was either writing somewhere else (ala phaser) or locked?

[2019-06-18 15:51] jonhoo commented on #51
I haven't thought this through completely, but my thinking would be that there is one local histogram per thread, and one global one. When the reader wants to read, it sets some shared variable to 1. When a writer sees that value as 1 on a write, it adds its local histogram to the global one (by locking it), clears its local one, and then notifies the reader that it has done so. When the reader ge

[2019-06-19 14:06] marshallpierce commented on #51
The latter is sort of what the Java Recorder impl does, I believe.

[2019-06-19 16:04] jonhoo commented on #51
So, I _think_ this is a little different, as the recorders do not need to perform atomic operations on the histogram. They only perform local, non-atomic operations, and then occasionally "merge" their accumulated results into the global histogram. It does mean that they occasionally block (to merge), but it also means that the common-case of recording is faster. It _also_ means that we don't need

[2019-06-19 16:40] marshallpierce commented on #51
I'd love to get to a point where writers never block at all, but maybe that'll have to wait. What if we offload the "merging" to the readers?

[2019-06-19 17:16] jonhoo commented on #51
Here's what I was thinking implemented: https://github.com/HdrHistogram/HdrHistogram_rust/blob/recorder/src/sync/mod.rs

I think truly wait-free recording is only available either with a concurrent histogram (i.e., atomic ops on counters), which would carry a much higher cost in general, or by keeping two histograms for every `Recorder` (and a phase shift swaps between them). The former _seems_ mo

[2019-06-19 17:24] marshallpierce commented on #51
Probably pretty onerous -- that means consumers would have to have some sort of idle timer, with all the associated plumbing, etc.

However, we could just have many flavors of Recorders named accordingly, and see what works in practice... we don't have to get it right the first time necessarily.

[2019-06-19 17:52] jonhoo commented on #51
Another alternative would be to provide a timeout argument to `SyncHistogram::phase`, so that the reader doesn't have to block indefinitely.

[2019-06-19 18:46] jonhoo commented on #51
Sadly I think it would be quite expensive to allow the reader to forcibly merge a `Recorder`'s state, even if the reader could somehow detect that a given `Recorder` is idle. It basically requires either double-buffering or concurrent counter values, neither of which are great. It might be that you can get to a good place by having each `Recorder` keep a `ConcurrentHistogram` (i.e., one that uses

[2019-06-19 20:53] marshallpierce commented on #51
I'm happy with starting simple and iterating. Might want to name things (or possibly generify, if the impl shakes out that way) in such a way that we have room to change things in the future.

[2019-06-19 21:27] jonhoo commented on #51
@marshallpierce I filed https://github.com/HdrHistogram/HdrHistogram_rust/pull/82; let's continue discussion there.

[2019-06-25 22:15] #51 closed

[2019-06-25 22:18] jonhoo opened #83 "Move to nom 5.0"
We're currently on `4.2.3`, whereas upstream has been bumped to 5.0. While I think the changes are mainly cosmetic/mechanical between the two, it still requires some work.

[2019-08-23 16:55] EliSnow opened #84 "Make public deserialize methods `deser_v2` & `deser_v2_compressed`"
Specifically I'm interested in calling the `deser_v2` method directly. My motivation is I'm using hdrhistogram in a WASM module where I only need to deserialize uncompressed histograms. By using the `deserialize` method the compiler can not statically determine that I will not be deserializing compressed histograms and flate2 gets included in my WASM.

I only included `deser_v2_compressed` in the

[2019-08-24 18:39] jonhoo commented on #84
I think @marshallpierce has more insight into what else we might want to do before making these public. _Might_ be fine to just mark them `pub`, but want to check with him first.

[2019-10-24 16:03] EliSnow commented on #84
There are two structs for serializing: `V2Serializer` and `V2DeflateSerializer`. Would it make sense to follow this pattern for deserializing? `V2Deserializer` and `V2DeflateDeserializer`? The only hickup I see is that the two serializers implement a common trait `Serializer` and if we wanted the deserializers to implement a common trait, it would have to be named something other than `Deserialize

[2019-11-20 22:45] #83 closed

[2019-12-03 18:45] #81 closed

[2019-12-03 19:03] mexus commented on #81
OMG I totally forgot about this issue, shame on me! :cry:  And thanks @AnderEnder for doing what I've promised to do half-a-year ago

[2020-01-03 19:19] svend opened #87 "Publish 7.0.0 to crates.io"
Could you publish version 7.0.0 to crates.io? (I'm using the new Error types in 7.0.0.) Thanks for your work on this library!

[2020-01-04 01:42] marshallpierce commented on #87
I haven't had time to do much with this project in a while but I can carve out the time to push a release at least. :) @jonhoo anything we should wait for before 7?

[2020-01-04 14:35] jonhoo commented on #87
Oh, oops, I guess I forgot `cargo publish` :sweat_smile: Published!

[2020-01-04 14:35] #87 closed

[2020-05-29 20:46] jonhoo opened #90 "Deprecate non-deflate serialization"
As far as I can tell, the V2 log format in the Java implementation does not support _not_ compressing the histograms. Should we remove support for that? Should we at least update the examples to prefer the more "standard" serializer that will interoperate with other hdrhistogram libraries?

cc @marshallpierce

[2020-05-30 00:37] marshallpierce commented on #90
Yep, at the very least updating examples seems reasonable. Maybe people use uncompressed ones in practice? 🤔 Weird, but possible...

[2020-05-30 00:53] jonhoo commented on #90
I discovered today that the Python bindings don't even support uncompressed histograms. So was surprised by that for a bit when my histograms wouldn't parse.

[2020-06-19 15:34] selvavm opened #91 "f32 or i32 support"
First, thanks for your contribution. Your crate is really well documented and easy to use. However, I am not able to use it because of supporting only `u64`.

It would be nice if there is a support for negative numbers (`i32`) and floating point number (`f32`). For `f32`, I can just multiply with scaling factors to use as `i32` but supporting negative number is a really needed feature for me.

[2020-06-19 18:11] jonhoo commented on #91
Thank you! Much of it is also due to @marshallpierce's excellent work.

The way HDR Histograms work isn't compatible with negative numbers, at least not without modifications. This is also the case for the original Java version; see:
https://github.com/HdrHistogram/HdrHistogram/blob/665acdea6840ac499c36cdfa18d43c63ebec12dc/src/main/java/org/HdrHistogram/AbstractHistogram.java#L2404

Floating point

[2020-06-19 20:22] marshallpierce commented on #91
For negative numbers, you could use two `u16` histograms to cover the same range as a single `i32`. Store the positive numbers in one and the negative in another and then sum the two bucket by bucket whenever you're done.

[2020-06-20 05:53] selvavm commented on #91
Thanks @jonhoo for pointing to JavaDoc. I didnt know negative numbers are not supported.
Thanks @marshallpierce, for your suggestion. I also thought about your suggestion but was lost on how to implement it. Maybe I will explain my requirement.

I want my result to have 50 bins. Since, HDRHistogram has support for percentile iter, I though I will iterate by 2% (ticks_per_half_distance is 1%). This

[2020-06-25 01:24] marshallpierce commented on #91
Perhaps you could get to the "99%ile from lowest signed value" this way:
- have two histograms, one for positive and one for negative
- record each value into the appropriate histogram
- at the end of the run, calculate the absolute value of the most negative number, let's say `m`
- iterate all the values from both histograms. For each value, add `m` to it, and store the result in a third histogra

[2020-07-03 09:38] selvavm commented on #91
Thanks @marshallpierce; I will try this. Sorry for late response

[2020-07-03 09:39] selvavm commented on #91
I think I will close this issue as well. Thanks both for the contribution and support :)

[2020-07-03 09:39] #91 closed

[2020-08-04 05:02] minghanc opened #92 "iter_recorded() method fails to iterate if all the values are zero."
iter_recorded() won't work when all the values recorded by the Histogram instance is 0.
Sample code to hit the issue:

[code]
We use the iterator to print out a certain format and emit to our log file. Is there a better way to do that for the logging purpose?

[2020-08-04 11:35] marshallpierce commented on #92
It's been a while since I was in the guts of the data structure, but IIRC the hdrhistogram structure squashes everything below the lowest trackable number into the 0th internal slot which is then ignored because it doesn't obey the same scaling rules as all the other slots. The lowest trackable number is at least 1, so 0 would fall into the void, in the same way that if you configured a histogram

[2020-08-04 17:27] minghanc commented on #92
Ok. But if I continue to record another value, for example 1, to the above tracker, then it will be able to print out the result correctly. (value 0 and count 3 value 1 and count 1), Could you clarify that? Since as you said, 0 is below the lowest trackable number. I just want to make sure there would be no other corner cases for the iterator.

[2020-08-06 23:09] marshallpierce commented on #92
Hm, that does seem unexpected. Will have to look into it.

[2020-08-18 15:41] amrx101 opened #93 "Merge multiple Histograms into 1."
We are going to use this in [mqttwrk](https://github.com/bytebeamio/mqttwrk) where in we launch a bunch of `clients`. We plan to have a `Histogram` instance for each connection to measure metrics. After that we would like to merge these histograms to get an aggregation of all histograms.

I was looking at Python docs and found something [similar](https://github.com/HdrHistogram/HdrHistogram_py/blo

[2020-08-18 15:46] jonhoo commented on #93
The method you are looking for is `Histogram::add` (or `Histogram::add_corrected`) which lets you add one histogram to another :)

If you think this could be clearer in the documentation, a PR that makes it clearer would be great!

[2020-08-18 15:52] amrx101 commented on #93
@jonhoo

Will send a PR with updated doc.

[2020-11-29 20:00] jonhoo commented on #75
While going through my email, I came across some relevant notes from @giltene on the subject. The first is https://github.com/HdrHistogram/hdrhistogram-go/pull/23#issuecomment-716102578. The second is [from Gitter](https://gitter.im/HdrHistogram/HdrHistogram?at=5f963829a0a3072b43a5c363):

[2021-03-11 09:17] raszi opened #97 "Releasing CLI tool on its own"
It would be great to have the sample CLI tool on its own, so it could be used in other CLI tools.

[2021-03-14 18:00] jonhoo commented on #97
What kind of functionality would you imagine such a CLI tool would have?

[2021-03-15 09:52] raszi commented on #97
Something similar to [`st`](https://github.com/nferraz/st), it would receive a number on its input and display the histogram on its output.

[2021-03-21 00:31] jonhoo commented on #97
That seems like a great idea! I'd be happy to take a look at a PR.

[2021-03-29 17:08] raszi commented on #97
Unfortunately, I am not proficient in Rust, so I won't be able to provide a PR.

[2021-07-07 19:09] jonhoo opened #100 "README instructions say to use 6.0"
It should probably say
[code]
instead.

[2022-01-30 00:52] jonhoo commented on #100
This has been fixed.

[2022-01-30 00:52] #100 closed

[2022-03-25 01:01] jonhoo opened #109 "Port ValueAtPercentile optimization from Go and C implementations"
We should adopt the change from https://github.com/HdrHistogram/hdrhistogram-go/pull/48 (in C: https://github.com/HdrHistogram/HdrHistogram_c/pull/107). Chances are it can give us some performance improvements too!

cc @marshallpierce because I know you like this stuff :)

[2022-03-29 11:32] gkorland opened #110 "How is the performance compared to the C version?"
How is Rust  version performance compared to the C version?

[2022-04-02 00:19] jonhoo commented on #110
We do have a number of [benchmarks](https://github.com/HdrHistogram/HdrHistogram_rust/tree/master/benches) (run with `cargo +nightly bench`), but I don't know that any of them are 1:1 with any known C benchmarks. Even things like measuring the performance of `record` is difficult because it depends on how you generate the samples, what precision you record with, what computer you're running on, et

[2022-04-02 00:21] jonhoo commented on #110
Very generically though, on my laptop, recording a random value on average takes about 5.6ns.

[2022-04-02 13:08] marshallpierce commented on #110
Concur w/ all of the above. I would expect it to be comparable, and if you find instances where it is not, that would be great to know. The hot paths inherit all the optimization that went into the Java version, so they boil down to patterns like loading a very-likely-cache-resident field, mask, shift, write. There's not a whole lot left to wring out of that sort of logic without SIMD, which isn't

[2022-04-02 15:17] jonhoo commented on #110
We are probably missing _some_ optimizations that have landed since the port for less-hot paths like https://github.com/HdrHistogram/HdrHistogram_rust/issues/109, but that's the only one I know about.

[2022-06-28 23:25] plugwash opened #111 "Test failures on Debian i386"
I recently updated the hdrhistogram package in Debian, and as part of that I resolved the issues that were blocking the tests from running on Debian's test infrastructure.

Unfortunately when running the CI tests on i386 two tests failed, I can also reproduce this locally.

    failures:

    ---- iter_quantiles_saturated_count_before_max_value stdout ----
    thread 'iter_quantiles_saturated_coun

[2022-07-02 17:42] jonhoo commented on #111
Hmm, very weird. It seems likely that you're right and the FPU doing something weird is the culprit here. Specifically, that first test attempts to put a high count in the first bucket, and then checks that iterating over the quantiles yields exactly the expected steps. But the panic you're seeing suggests that the quantiles iterator yields `u32::MAX` elements, which it _definitely_ shouldn't. You

[2022-07-02 17:42] jonhoo commented on #111
Also cc @marshallpierce who may find this interesting.

[2022-07-02 17:53] marshallpierce commented on #111
I think we should be able to rule out under/overflow at least because in tests an overflow would panic, right?

[2022-07-02 18:10] jonhoo commented on #111
Does that hold for casts too? I thought it would only panic for arithmetic over/underflow, but could be wrong.

[2022-09-12 08:50] noguxun opened #114 "Feature request: an unrecord() function"
Can we implemented an interface to remove what we have Histogram::record() ?
Like this decrement interface in another histgram crate
https://docs.rs/histogram/0.6.9/histogram/struct.Histogram.html#method.decrement

[2022-09-17 22:37] jonhoo commented on #114
Ah, interesting, yeah, we don't get that "for free" like the Go version does because they use signed integers for the counts:
https://github.com/HdrHistogram/hdrhistogram-go/blob/494271c4c016b36c8cee88480288f33b419cf7b0/hdr.go#L306-L309

I think the best way to go about this would be to add a `sub: bool` argument to `record_n_inner` here:
https://github.com/HdrHistogram/HdrHistogram_rust/blob/7c4a

[2022-09-19 09:09] TennyZhuang opened #119 "[Break Change] Rename APIs new_with_* to with_*"
In [Rust's official naming guide](https://rust-lang.github.io/api-guidelines/naming.html), the recommanded constructor names should be `name` or `with_more_details`, and almost all stdlib APIs follow the guide.

This may introduce a break change so that a new major version should be released, feel free to close the issue if you don't think it's critical. This is only a suggestion.

[2022-09-19 15:08] jonhoo commented on #119
Makes sense to me! I wouldn't remove the old ones though, just mark them as deprecated. Keeping around the new_ variants until we otherwise *need* to make a breaking change seems more reasonable.